:root {
    --primary-color: #fdfdfd;
    --secondary-color: #6e6fae;
    --secondary-color-hover: #5e5fa8;
    --background-color: #161616;
    --dark-text-color: #1b1b1b;
    --text-color: #e7e9f8;
    --utils-color: #525252;

    --spacing-small: 4px;
    --spacing-medium: 8px;
    --spacing-large: 16px;
    --spacing-large-x: 24px; 
    --spacing-large-xx: 32px; 
    --spacing-large-xxx: 48px; 

    --default-title-shadow: 
    -1px 0px 2px var(--secondary-color),
    -2px 0px 1px #767aba79;
}